/* Gaya umum */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Gaya footer */
.footer {
  background-color: #282c34;
  color: white;
  padding: 20px 0;
  text-align: center;
}

/* Gaya footer-content */
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Gaya teks footer */
.footer h3, .footer h4, .footer p {
  margin: 5px 0; /* Menambahkan jarak antara elemen teks */
  font-family: Arial, sans-serif; /* Mengubah jenis huruf ke Arial atau jenis huruf sans-serif lainnya */
  font-size: 16px; /* Ukuran huruf */
}

/* Gaya teks nama perusahaan */
.footer h3 {
  font-size: 24px; /* Ukuran huruf yang lebih besar untuk nama perusahaan */
}

/* Gaya teks kontak */
.footer h4 {
  font-weight: bold; /* Menambahkan tebal pada judul kontak */
}

/* Gaya teks alamat */
.footer p:last-child {
  margin-bottom: 0; /* Menghapus jarak bawah pada elemen terakhir */
}





